# Ignore artifacts and data
artifacts/
research/**/artifacts/

# Ignore datasets
*.zip
*.jpg
*.jpeg
*.png

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
logs/
kidney_accessKeys.csv 

# Database
renalscan.db
renalscan_pre_deployment.db
renalscan_pre_deployment_backup.db

# Uploads
uploads/

# Env & sensitive files
.env
.env.*

# Force include model.h5
!artifacts/training/model.h5

