# Ignore artifacts directory contents by default
artifacts/*
!artifacts/training/
artifacts/training/*
!artifacts/training/model.h5.part-*

# Ignore datasets
*.zip
*.jpg
*.jpeg
*.png

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
logs/
kidney_accessKeys.csv 

# Database
renalscan.db
renalscan_pre_deployment.db
renalscan_pre_deployment_backup.db

# Uploads
uploads/

# Env & sensitive files
.env
.env.*

# Force include static demo scans
!static/demo_scans/
!static/demo_scans/*
